.card-wrapper {
  margin: 20px;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-image {
  width: 100%;
}

.card-name {
  color: #646464;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.card-desc {
  display: inline-block;
  max-width: 100%;
  color: #646464;
  margin: 0 0 10px;
  padding: 0;

  width: 90%;
  font-size: 0.875rem;
  height: 35px;
}

.card-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: auto;
  height: 40px;
  font-size: 1.125rem;
  background-color: rgb(153, 204, 51);
  border-image: initial;
  padding: 0px 20px;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(225, 225, 225);
}

.card-btn:focus {
  outline: none;
}
